---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

{% assign alldocs = site.about_me %} 
{% assign posts = site.posts %}

{%- for post in posts -%}
  {% assign alldocs = alldocs | push: post %}
{%- endfor -%}

{% assign grouptags =  alldocs | map: 'tags' | join: ','  | split: ',' %}
{% assign grouptags = grouptags | uniq %}
{% assign tag_sizes = '' | split: '' %}
{% for tag in grouptags %}
  {% assign count = 0 %}
  {% for document in alldocs %}
    {% if document.tags contains tag %}
      {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% assign count = count | split: '' %}
  {% assign tag_sizes = tag_sizes | concat: count %}
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-auto">
      <ul class="nav nav-pills flex-column cat-tag-menu">
        {%- for tag in grouptags -%}
            <li class="nav-item">
              <a href="#{{ tag | replace:' ','-' }}-ref" class="nav-link">
                {% assign index = forloop.index | minus: 1 %}
                {{ tag }}<span class="badge pull-right">{{ tag_sizes[index] }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="col-6">
      <div class="tab-content">
        {%- for tag in grouptags -%}
          <div class="tab-pane" id="{{ tag | replace:' ','-' }}-ref">
            <h2 style="margin-top: 0px">Stuff tagged  with {{ tag }}</h2>
            <ul class="list-unstyled">
              {%- for document in alldocs -%}
                {% if document.tags contains tag %}
                    <li style="line-height: 35px;"><a href="{{ site.BASE_PATH }}{{document.url}}">{{document.title}}</a><span class="text-muted">- {{ document.date | date: "%B %d, %Y" }}</span></li>
                {% endif %}
              {%- endfor -%}
            </ul>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>