<!--post.html-->
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>
    
<article>

    <div class="col-sm-10">
     <span class="post-date">
       {% assign d = page.date | date: "%d" | plus:'0' %}
       {{ page.date | date: "%B" }} 
       {% case d %}
         {% when 1 or 21 or 31 %}{{ d }}st,
         {% when 2 or 22 %}{{ d }}nd,
         {% when 3 or 23 %}{{ d }}rd,
         {% else %}{{ d }}th,
       {% endcase %}
       {{ page.date | date: "%Y" }}
     </span>
      <div class="article_body">
      {{ content }}
      </div>

        {% unless page.categories == empty %}
        <ul class="tag_box list-unstyled list-inline">
          <li class="inline-item"><i class="fa fa-folder-open"></i></li>
          {% assign categories_list = page.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %} 
                <li class="inline-item"><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
                    {{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
                    {% unless forloop.last %},{% endunless %}
                </a></li>
            {% endfor %}
          {% else %}
            {% for category in categories_list %} 
                <li class="inline-item"><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
                    {{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
                </a></li>
            {% endfor %}
          {% endif %}
        </ul>
        {% endunless %}  

        {% unless page.tags == empty %}
        <ul class="list-inline">
          <li class="inline-item"><i class="fa fa-tags"></i></li>
          {% assign tags_list = page.tags %}
            {% for tag in tags_list %} 
                <li class="inline-item">
                    <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
                        {{ tag }} {% comment %}<span>({{ tag[1].size }})</span>{% endcomment %}
                        {% unless forloop.last %},{% endunless %}
                    </a>
                </li>
               
            {% endfor %}
          {% assign tags_list = nil %}
        </ul>
        {% endunless %}  

        <hr>

        <div>
      <section>
        <h4 class="section-title">Share Post</h4>
        <a class="btn btn-default btn-sm mastodon" href="https://mastodon.social/share?text={{site.url | encode}}{{page.url | encode}}"
           onclick="window.open(this.href, 'mastodon-share', 'width=550,height=235');return false;">
          <i class="fab fa-mastodon"></i>
          Mastodon
        </a>
        <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fab fa-facebook"></i>
          Facebook
        </a>
      </section>
    </div>

    <div class="clearfix"></div>
    <div style="height: 50px;"></div>

    <nav aria-label="">
        <ul class="pagination justify-content-center">
          <li>
            {% if page.previous %}
              <a class="page-link" href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
            {% else %}
              <a class="page-link disabled">&larr; Previous</a>
            {% endif %}
          </li>
          <li>
            {% if page.next %}
              <a class="page-link" href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
            {% else %}
                <a class="page-link disabled">Next &rarr;</a>
            {% endif %}
          </li>
        </ul>
      </nav>

    <hr>
    
    
    <div class="col-sm-2 sidebar-2">
    
    </div>
</article>
<div class="clearfix"></div>
<!--end post.html-->