<div class="page-header">
  <h1>{{ page.title }} {% if page.class_project %}<div class="purdue-logo-sm"></div>{% endif %}</h1>
  {% if page.project_link %}
  <a href="{{page.project_link}}" target="_blank">
    <button class="btn btn-outline-primary">
      {% if page.project_link contains 'github' %}
      <i class="fab fa-github"></i>
      {% endif %}
      Project Link
    </button>
  </a>
  {% endif %}
  {% if page.demo_link %}
  <a href="{{page.demo_link}}" target="_blank">
    <button class="btn btn-outline-secondary">
      <i class="fas fa-link"></i> Demo Link
    </button>
  </a>
  {% endif %}
  {% if page.languages %}
  <p class="project-languages">Languages: <i>{{ page.languages | array_to_sentence_string }}</i></p>
  {% endif %}
  {% if page.technologies %}
  <!--<p  class="project-tech">{{ page.technologies | array_to_sentence_string }}</p>-->
  Technologies: {% tech_links page.technologies %}
  {% endif %}
</div>
<article>
  <div class="article_body">
    {{ content }}
  </div>
  {% if page.screenshots %}
  <h3>Screenshots</h3>
  {% screenshots page.screenshots page.title %}
  {% endif %}
</article>
<div class="clearfix"></div>